.hero {
    position       : relative;
    height         : 100vh;
    min-height     : 400px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-top    : 120px;
    overflow       : hidden;
}

.heroBorder {
    margin       : 10px;
    border-radius: 40px;
    position     : relative;
    padding      : 10px;
}

.heroBorder>* {
    background   : white;
    /* inside content background */
    border-radius: 40px;
}

@keyframes borderMove {
    0% {
        background-position: 400% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.background {
    position: absolute;
    inset   : 0;
    z-index : 0;
}

.image {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset   : 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.159),
            rgba(0, 0, 0, 0.407),
            rgba(0, 0, 0, 0.652));
}

.content {
    position  : relative;
    z-index   : 2;
    text-align: center;
    color     : white;
    max-width : 900px;
    padding   : 0 20px;
}

.badge {
    display        : inline-flex;
    align-items    : center;
    gap            : 6px;
    background     : rgba(255, 255, 255, 0.053);
    backdrop-filter: blur(6px);
    padding        : 8px 16px;
    border-radius  : 30px;
    font-size      : 14px;
    margin-bottom  : 20px;
}

.title {
    font-size    : 56px;
    font-weight  : 700;
    margin-bottom: 20px;
}

.title span {
    color: #ffc7dd;
}

.description {
    font-size    : 20px;
    color        : rgba(255, 255, 255, 0.9);
    max-width    : 650px;
    margin       : auto;
    margin-bottom: 30px;
}

.buttons {
    display        : flex;
    gap            : 15px;
    justify-content: center;
    flex-wrap      : wrap;
}

.primaryBtn {
    display        : flex;
    align-items    : center;
    gap            : 8px;
    padding        : 14px 26px;
    background     : #e72e77;
    border-radius  : 10px;
    color          : white;
    font-weight    : 600;
    text-decoration: none;
}

.primaryBtn:hover {
    background: #ff066a;
}

.secondaryBtn {
    padding        : 14px 26px;
    border-radius  : 10px;
    border         : 2px solid white;
    color          : white;
    text-decoration: none;
    background     : rgba(255, 255, 255, 0.1);
}

.secondaryBtn:hover {
    background: white;
    color     : black;
}

@media(max-width:768px) {

    .title {
        font-size: 38px;
    }

    .description {
        font-size: 16px;
    }
}


@media(max-width:500px) {

    .heroBorder {
        margin-bottom: 20px;
    }

    .hero {
        height: 80vh;
    }

}