.bookingForm {
    background   : white;
    border-radius: 14px;
    padding      : 30px;
    box-shadow   : 0 15px 35px rgba(0, 0, 0, 0.1);
}

.bookingFormTitle {
    font-size    : 26px;
    font-weight  : 700;
    margin-bottom: 20px;
}

.formGrid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 15px;
}

.formGroup {
    display       : flex;
    flex-direction: column;
    gap           : 6px;
    margin-bottom : 15px;
}

.formGroup label {
    font-size  : 14px;
    display    : flex;
    align-items: center;
    gap        : 5px;
    font-weight: 500;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
    padding      : 12px;
    border-radius: 8px;
    border       : 1px solid #ddd;
    font-size    : 14px;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
    outline     : none;
    border-color: #38bdf8;
}

.bookingSubmit {
    width        : 100%;
    padding      : 16px;
    border       : none;
    background   : #38bdf8;
    color        : white;
    font-size    : 16px;
    font-weight  : 600;
    border-radius: 8px;
    cursor       : pointer;
    transition   : .3s;
}

.bookingSubmit:hover {
    background: #0284c7;
}

.bookingSuccess {
    background   : white;
    padding      : 40px;
    border-radius: 14px;
    text-align   : center;
    box-shadow   : 0 10px 30px rgba(0, 0, 0, 0.1);
}

.successIcon {
    width          : 70px;
    height         : 70px;
    margin         : auto;
    background     : #e0f2fe;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : #38bdf8;
    margin-bottom  : 15px;
}

.bookingSuccess h3 {
    font-size    : 24px;
    margin-bottom: 10px;
}

@media(max-width:700px) {

    .formGrid {
        grid-template-columns: 1fr;
    }

}