.servicesSection {
    margin-top: 60px;
    padding   : 100px 20px;
    background: #ffffff;
}

.servicesHeader {
    text-align   : center;
    max-width    : 700px;
    margin       : auto;
    margin-bottom: 60px;
}

.servicesLabel {
    color         : #065e01;
    font-weight   : 600;
    text-transform: uppercase;
    font-size     : 42px;
}

.servicesTitle {
    font-size    : 30px;
    font-weight  : 700;
    margin-top   : 10px;
    margin-bottom: 20px;
}

.servicesTitle span {
    color: #065e01;
}

.servicesDesc {
    color      : #666;
    line-height: 1.7;
}

.servicesGrid {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    gap                  : 25px;
}

.serviceCard {
    border       : 1px solid #e5e7eb;
    border-radius: 14px;
    padding      : 25px;
    background   : #fafafa;
    transition   : .3s;
}

.serviceCard:hover {
    transform   : translateY(-5px);
    box-shadow  : 0 10px 25px rgba(0, 0, 0, 0.1);
    border-color: #065e01;
}

.serviceIcon {
    width          : 55px;
    height         : 55px;
    background     : #e0f2fe;
    border-radius  : 12px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : #065e01;
    margin-bottom  : 15px;
    transition     : .3s;
}

.serviceCard:hover .serviceIcon {
    background: #065e01;
    color     : white;
    transform : scale(1.1);
}

.serviceCard h3 {
    font-size    : 18px;
    margin-bottom: 8px;
}

.serviceCard p {
    font-size  : 14px;
    color      : #666;
    line-height: 1.6;
}

@media(max-width:1000px) {

    .servicesGrid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:600px) {

    .servicesGrid {
        grid-template-columns: 1fr;
    }

    .servicesTitle {
        font-size: 32px;
    }

}




@media(max-width:500px) {
    .servicesSection {
        padding: 20px;
    }
}


.servicesSeoContent {
    margin-top : 40px;
    line-height: 1.8;
    font-size  : 16px;
    color      : #000000;
}

.servicesSeoContent p {
    margin-bottom: 18px;
}

/* 🔥 Bold keywords highlight */
.servicesSeoContent strong {
    color      : #000000;
    font-weight: 600;
}

/* 🔥 Italic styling */
.servicesSeoContent i {
    color: #000000;
}

/* 🔥 Mobile optimization */
@media (max-width: 768px) {
    .servicesSeoContent {
        font-size  : 15px;
        line-height: 1.7;
    }
}


.hiddenSeo {
    position: absolute;
    left    : -9999px;
}