.section {
    padding   : 80px 20px;
    background: #f1f5f9;
}

.container {
    max-width: 1200px;
    margin   : auto;
}

.header {
    text-align   : center;
    margin-bottom: 50px;
}

.title {
    font-size    : 40px;
    font-weight  : 700;
    margin-bottom: 10px;
}

.title span {
    color: #FF46A2;
}

.description {
    font-size: 18px;
    color    : #64748b;
    max-width: 650px;
    margin   : auto;
}

.grid {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    gap                  : 25px;
}

.card {
    background   : white;
    border-radius: 14px;
    padding      : 25px;
    text-align   : center;
    border       : 1px solid #e5e7eb;
    transition   : 0.3s;
}

.card:hover {
    border-color: #FF46A2;
    transform   : translateY(-5px);
    box-shadow  : 0 15px 40px rgba(0, 0, 0, 0.08);
}

.iconBox {
    width          : 60px;
    height         : 60px;
    background     : #FF46A220;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : auto;
    margin-bottom  : 15px;
    color          : #FF46A2;
}

.card h3 {
    font-size    : 18px;
    margin-bottom: 6px;
}

.card p {
    font-size: 14px;
    color    : #64748b;
}

@media(max-width:900px) {

    .grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:500px) {

    .grid {
        grid-template-columns: 1fr;
    }

}